@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@500&display=swap');

:root {
  --background-color: rgb(19, 19, 19);
  --pink-text-color: rgb(245, 65, 122);
  --scroll: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'League Spartan', sans-serif;
  height: 350vh;
  width: 100%;
  color: white;
  background-color: var(--background-color);
  -ms-overflow-style: none;
}

.loading-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--background-color);
  display: grid;
  place-content: center;
  transition: opacity .10s ease-in-out, visibility;
}

.loading-svg {
  width: 20rem;
  font-weight: 700;
}

.loading-svg text {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  stroke-width: 2;
  letter-spacing: -3px;
}

.loading-svg text.loading-text {
  font-family: 'Poppins', sans-serif;
  stroke: wheat;
  animation: animate-stroke 5s infinite alternate;
}

@keyframes animate-stroke {
  0%{
    fill: transparent;
    stroke: wheat;
    stroke-width: 1;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }

  50% {
    fill: transparent;
    stroke: wheat;
    stroke-width: 2;
  }

  80%, 100% {
    fill: wheat;
    stroke: transparent;
    stroke-width: 3;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

.loading-container.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.page-content {
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
  transition: opacity .6s ease-in-out transform .6s ease-in-out;
}

.page-content.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.header-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.header-name {
  font-weight: 900;
  color: var(--pink-text-color);
}

@keyframes blink {
  0% {
    color: #ef793d;
  }

  30% {
    color: rgb(238, 64, 64);
  }

  60%, 100% {
    color: var(--pink-text-color);
  }

  80% {
    color: rgb(63, 243, 207);
  }
}

.header-name {
  animation: blink 6s infinite alternate;
}

.header-text {
  font-size: 5rem;
}

.header-icon-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-flex-timeline-icons {
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

.header-lang-icon {
  width: 4vw;
}

.html-icon {
  position: absolute;
  top: 156vh;
  left: 57vw;
}

.css-icon {
  position: absolute;
  top: 173vh;
  right: 57vw;
}

.python-icon {
  position: absolute;
  top: 190vh;
  left: 57.5vw;
}

.js-icon {
  position: absolute;
  top: 205.5vh;
  right: 57.5vw;
}

.node-icon {
  position: absolute;
  top: 223vh;
  left: 57vw;
}

.react-icon {
  position: absolute;
  top: 239vh;
  right: 57.5vw;
}

.scroll-line-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
}

@keyframes blink-scroll-text {
  0%, 40%, 80% {
    color: rgb(149, 149, 149);
    transform: scale(1.2);
  }

  20%, 60%, 100% {
    color: rgb(78, 78, 78);
    transform: scale(1.1);
  }
}

.scroll-line-text {
  margin: 10px;
  font-weight: bold;
  animation: blink-scroll-text 8s infinite alternate;
}

.line-container {
  position: fixed;
  top: 89%;
  left: 0;
  width: 100%;
  height: 200vh;
  text-align: center;
  overflow: hidden;
}

.scroll-line-line {
  display: inline-block;
  height: 100%;
  margin: 10vh 0 0 0;
}

.new-face {
  position: relative;
  top: 170vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-open {
	max-width: 1660%;
  max-height: 100vh;
  border-radius: 8px;
  background-color: rgb(221, 221, 221);
  z-index: 0;
}